.login_box {
  background: linear-gradient(90deg, #ed552f, #e8852e);
  padding: 12px;
  border-radius: 5px;
  width: 244px;
  box-sizing: border-box;
  box-shadow: 7px 7px 0px #aaaaaa;
}

/* 흰색배경부분 */
form {
  background: #fff;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}

/* 대제목 */
h1 {
  color: #ffff00;
  font-size: 15px;
}
/* 인풋라벨 */
label {
  font-size: 14px;
}
/* 인풋 전체 컨테이너*/
.form_input_container {
  display: inline-block;
  margin-bottom: 4px;
}
.form_input_container input {
  width: 90px;
  height: 18px;
}
/* 인풋 박스 */
.form_input_wrapper:first-child {
  margin-bottom: 4px;
}

.form_input_wrapper label {
  width: 49px;
  display: inline-block;
  text-align: left;
}

.form_button_container {
  position: absolute;
  right: 8px;
  top: 6px;
}

.form_button_container input {
  width: 50px;
  height: 53px;
  background-color: #ed552f;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}
/* 회원가입 아이디 비밀번호찾기 */
.form_link_wrapper {
  border-top: 1px solid #cccccc;
  padding-top: 8px;
  margin-top: 8px;
}

.form_link_wrapper::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

.form_link_wrapper ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.form_link_wrapper li a {
  font-size: 13px;
  text-decoration: none;
  color: inherit;
  float: left;
}

.form_link_wrapper li:nth-of-type(2) a {
  float: right;
}
